body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  align-items: center;
}

.nav__right-section {
  /* width: 250px; */
  /* margin-right: 18px; */
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
}

header .nav__right-section a {
  color: rgba(0, 0, 0, 0.87);
}

header nav ul li {
  margin-right: 15px;
}

nav .nav__menu-icon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
}

nav .nav__right-section img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

main {
  margin-top: 72px;
  text-align: center;
}

main .main__logo {
  width: 550px;
  margin: auto;
  margin-bottom: 25px;
}

main .main__logo img {
  width: 272px;
  height: 92px;
}

main .main__input {
  width: 582px;
  height: 44px;
  margin: 0 auto;
  margin-bottom: 30px;
}

main .main__input--container {
  width: 570px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .main__input input {
  width: 487px;
  height: 34px;
  border: none;
  outline: none;
}

main .main__input--container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

main .main__input .main__input--search-icon {
  background-image: url("https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.main__input--mini-icon {
  background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 23px;
  height: 23px;
  cursor: pointer;
  margin-left: 5px;
}

.main__buttons--container {
  width: 584px;
  margin: 0 auto;
}

main .main__buttons--container div {
  display: inline-block;
}
main .main__buttons--container button {
  height: 36px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #5f6368;
  padding: 0px 16px;
  margin-right: 15px;
}

main .main__buttons--container button:hover {
  box-shadow: 0 1px 6px 0 #c6c6c6;
  color: #222;
  background-color: #f8f8f8;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 13px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}
footer ul {
  margin: 10px;
  list-style: none;
  display: flex;
  padding-left: 0;
}
.footer__left {
  justify-self: left;
}
.footer__right {
  justify-self: right;
}

footer ul li a {
  margin: 10px;
  color: #5f6368;
}
